.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}
.container .left{
    width: 40%;
    height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}
.container .right{
    width: 60%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-left: 2px solid;
    flex-direction: column;
    position: relative;
}
.end {
    margin-top: auto;
}


h2{
    position: relative;
    overflow: hidden;
    padding: 1rem 2rem;
    background-color: #f0f0f0;
    border-radius: 25%/80%;
    color: #b60a0a;
    border-color: black;
    border-style: solid;
        
}

