<div class="vh-100 bg-body-tertiary d-flex justify-content-center align-items-center" data-bs-theme="dark">
    <div class="p-5 bg-dark border border-2 rounded-2 border-light-subtle">
        <p class="display-6 bolder text-light text-center mb-5">Login to <span class="border rounded-2 text-bg-success p-2 bold"><strong>Gamers' Corner</strong></span></p>
        <form >
           <div class="mb-3">
                <label htmlFor="username" class="form-label text-light">Username</label>
                <input 
                type="text" 
                id="username" 
                name="username" 
                class="form-control"
                 />
            </div>
           <div class="mb-3">
                <label htmlFor="password" class="form-label text-light">Password</label>
                <input 
                type="password" 
                id="password" 
                name="password" 
                class="form-control"
                />
            </div>
            <button type="submit" class="btn btn-secondary w-100">login</button>
        </form>
    </div>