<div class="container-fluid p-0 hero-container">
    <div class="p-2 text-white h-100 w-100 d-flex flex-column justify-content-center align-items-md-start hero-gradient">
        <h1 class="ms-md-5 text-center display-1 text-light">Gamers' Corner</h1>
        <p class="ms-md-5 text-center display-6 text-light" style='line-height: 4rem'>Shop for premium gaming accessories
            & <span class="text-bg-success p-2 m-2 rounded-2 fw-bolder bg-opacity-100">LEVEL UP</span> your game!
        </p>
    </div>
</div>
<section class="container-fluid bg-dark" data-bs-theme="dark">
    <div class="container py-5">
        <h3 class="bg-dark p-3 border rounded-2 text-light text-center m-auto">Headsets</h3>
        <p class="text-center fs-3 w-75 m-auto mt-4 text-info">
            Conquer every challenge with our high-performance gaming monitors. Experience lightning-fast refresh rates, stunning visuals, and features like curved displays and high resolutions. Find your perfect match for smooth, immersive gameplay
            <br><a class="btn btn-outline-light p-3 mt-4" href="/shop/headsets">Shop Headsets</a>
        </p>
    </div>
</section>
<section class="container-fluid bg-primary-subtle">
    <div class="container py-5">
        <h3 class="bg-dark p-3 border rounded-2 text-light text-center m-auto">MICE</h3>
        <p class="text-center fs-3 w-75 m-auto mt-4">
            Conquer every challenge with our high-performance gaming monitors. Experience lightning-fast refresh rates, stunning visuals, and features like curved displays and high resolutions. Find your perfect match for smooth, immersive gameplay
            <br><a class="btn btn-primary p-3 mt-4" href="/shop/mice">Shop Mice</a>

        </p>
    </div>
</section>
<section class="container-fluid bg-dark" data-bs-theme="dark">
    <div class="container py-5">
        <h3 class="bg-dark p-3 border rounded-2 text-light text-center m-auto">KEYBOARDS</h3>
        <p class="text-center fs-3 w-75 m-auto mt-4 text-info">
            Conquer every challenge with our high-performance gaming monitors. Experience lightning-fast refresh rates, stunning visuals, and features like curved displays and high resolutions. Find your perfect match for smooth, immersive gameplay
            <br><a class="btn btn-outline-light p-3 mt-4" href="/shop/keyboards">Shop Keyboards</a>
        </p>
    </div>
</section>
<section class="container-fluid bg-primary-subtle">
    <div class="container py-5">
        <h3 class="bg-dark p-3 border rounded-2 text-light text-center m-auto">MONITORS</h3>
        <p class="text-center fs-3 w-75 m-auto mt-4">
            Conquer every challenge with our high-performance gaming monitors. Experience lightning-fast refresh rates, stunning visuals, and features like curved displays and high resolutions. Find your perfect match for smooth, immersive gameplay
            <br><a class="btn btn-primary p-3 mt-4" href="/shop/monitors">Shop Monitors</a>
        </p>
    </div>
</section>